syntax: glob
*~

# Ignore compiled files.
*.elc
TAGS

# Ignore entire directories produced by emacs.
auto-save-list/
elpa/

# Ignore files produced by emacs.
ac-comphist.dat
recentf.el

# Ignore files produced by autotools.
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
elc-stamp
elisp-comp
install-sh
missing
