syntax: glob
*~

# Ignore compiled files.
*.elc
TAGS

# Ignore entire directories produced by emacs.
auto-save-list/
elpa/

# Ignore files produced by emacs.
abbrev_defs
ac-comphist.dat
history
projectile-bookmarks.eld
recentf.el
tramp
