syntax: glob
*~
\#*\#

# Ignore compiled files.
*.elc
TAGS

# Ignore entire directories produced by emacs.
auto-save-list/
eln-cache/
elpa/
transient/
tree-sitter/

# Ignore files produced by emacs.
abbrev_defs
ac-comphist.dat
custom.el
history
ido.last
places
projectile-bookmarks.eld
projects
recentf.el
tramp

# Ignore private files
env
